<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Purple</key>
	<dict>
		<key>Bash</key>
		<dict>
			<key>cost</key>
			<integer>5</integer>
			<key>dmg</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>Blue</key>
	<dict>
		<key>Bash</key>
		<dict>
			<key>cost</key>
			<integer>5</integer>
			<key>dmg</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>Green</key>
	<dict>
		<key>Bash</key>
		<dict>
			<key>cost</key>
			<integer>5</integer>
			<key>dmg</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>Yellow</key>
	<dict>
		<key>Bash</key>
		<dict>
			<key>cost</key>
			<integer>5</integer>
			<key>dmg</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>Red</key>
	<dict>
		<key>Bash</key>
		<dict>
			<key>cost</key>
			<integer>5</integer>
			<key>dmg</key>
			<integer>10</integer>
		</dict>
		<key>Defend</key>
		<dict>
			<key>cost</key>
			<integer>2</integer>
			<key>def</key>
			<integer>4</integer>
		</dict>
		<key>Fireball</key>
		<dict>
			<key>cost</key>
			<integer>10</integer>
			<key>dmg</key>
			<integer>8</integer>
		</dict>
	</dict>
</dict>
</plist>
